@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@keyframes slideInLogo {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideTopBottom {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideBottomTop {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0);
    }
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #0873c5;
    --primary-color-light: #e6e5f0;
    --primary-color-ibox: #ffffff;
    --primary-color-ibox-alt: #9fa6bb99;
    --primary-color-ibox-alt2: #0873c5;
    --primary-color-ibox-alt3: #035da2;
    --toggle-color: #DDD;
    --text-color: #707070;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: var(--body-color);
    width: 100%;
}

header {
    width: 100%;
    height: 5vw;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.logo {
    font-weight: 800;
    font-size: 28px;
    padding-top: 1vw;
    text-align: center;
    width: 25vw;
    text-transform: uppercase;
    animation-name: slideInLogo;
    animation-duration: 1s;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    width: 22vw;
    height: 5vw;
    animation-name: slideInTop;
    animation-duration: 0.8s;
}

.navButton {
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    padding: 10px;
    transition: 0.6s;
}
.navButton:hover {
    transition: 0.6s;
    color: white;
    background-color: var(--primary-color-ibox-alt2);
}
.active {
    background-color: var(--primary-color-ibox-alt2);
    color: white;
}

.section {
    width: 100%;
}
.section1 {
    height: 50vw;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vw;
}
.container{
    width: 90%;
    height: 30vw;
    background-color: blue;
}
.title {
    text-align: center;
    padding: 15px;
    font-size: 28px;
    font-weight: 600;
}
.imgentext {
    background-color: green;
    height: 20vw;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
.text {
    padding: 20px;
    width: 40vw;
    background-color: red;
    border-radius: 10px; 
}
.image img {
    height: 20vw;
    width: auto;
}