@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@keyframes slideInLogo {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideTopBottom {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideTopBottom2 {
    from {
        transform: translateY(-85px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideBottomTop {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-1500px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(1500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft2 {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight2 {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #0873c5;
    --primary-color-light: #e6e5f0;
    --primary-color-light2:rgb(126, 124, 124);
    --primary-color-ibox: #ffffff;
    --primary-color-ibox-alt: #9fa6bb;
    --primary-color-ibox-alt2: #0873c5;
    --primary-color-ibox-alt3: #035da2;
    --toggle-color: #DDD;
    --primary-color-hover: #d9dde7c3;
    --text-color: #707070;
    --color-youtube: #d10000;
    --color-youtube-hover: #a90b0b;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: var(--body-color);
    width: 100%;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--primary-color-ibox-alt);
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 30px;
}

.navButton {
    padding: 5px;
    animation-name: slideInTop;
    animation-duration: 0.8s;
}

.navButton a {
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.6s;
    color: white;
}

.navButton a:hover {
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--primary-color-ibox-alt3);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.6s;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    animation-name: slideInLeft2;
    animation-duration: 1s;
}

.logo a {
    color: white;
    text-decoration: none;
}

.youtube {
    padding: 5px;
    animation-name: slideInRight2;
    animation-duration: 1s;
}

.youtube a {
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--color-youtube);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.6s;
    color: white;
}

.youtube a:hover {
    width: auto;
    height: auto;
    text-align: center;
    background-color: var(--color-youtube-hover);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.6s;
}

.section {
    width: 100%;
}
.section1 {
    height: 50vw;
    background-color: var(--body-color);
}
.pagetitle {
    background-color: var(--primary-color-ibox-alt);
    height: 5vw;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    animation-name: slideTopBottom2;
    animation-duration: 1s;
}
.pagetitle span {
    color: white;
}
.boxtop {
    display: flex;
    justify-content: space-evenly;
    padding: 5vw;
    height: auto;
}
.box {
    display: flex;
    justify-content: space-evenly;
    padding: 5vw;
    height: auto;
}
.container{
    width: 90%;
    height: auto;
    padding: 2vw;
    background-color: var(--primary-color-light2);
    border-radius: 10px;
}
.title {
    text-align: center;
    padding: 25px;
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
}
.imgentext {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
.enkeltext {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.text {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: large;
    width: 40vw;
    background-color: rgb(173, 171, 171);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text2 {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: large;
    width: 30vw;
    background-color: rgb(173, 171, 171);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.href {
    color: blue;
}

.href:hover {
    color: darkblue;
}

.href:active {
    color: darkblue;
}

.text1 {
    padding-left: 3vw;
    padding-right: 2vw;
    padding-top: 3vw;
    padding-bottom: 5vw;
    height: auto;
    font-size: large;
    width: 75vw;
    background-color: rgb(173, 171, 171);
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.image img {
    height: 23vw;
    width: auto;
}

.slideLeft {
    animation-name: slideInLeft;
    animation-duration: 1s;
}

.slideRight {
    animation-name: slideInRight;
    animation-duration: 1.5s;
}

.slideLeft2 {
    animation-name: slideInLeft;
    animation-duration: 2s;
}

.iframe {
    display: flex;
    justify-content: center;
}

.containerpn {
    background-color: var(--primary-color);
    width: 100%;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pnbut {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.pnbut i {
    color: black;
}

.pnbut a {
    background-color: var(--primary-color-ibox);
    width: auto;
    padding: 0.50vw;
    height: auto;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.pnbut a:hover {
    background-color: var(--primary-color-hover);
    transition: 0.6s;
}

.navnumbs {
    display: flex;
}

.navnumbs a {
    justify-content: space-around;
}

.sts {
    margin-top: -25px;
}

.youtubevid {
    width: 550px;
    height: 320px;
}

.hide {
    background-color: var(--primary-color);
    color: transparent;
}

@media only screen and (max-width: 1180px) {
    .navButton {
        text-align: center;
        padding: 5px;
        height: auto;
    }
    .cbox {
        height: auto;
        padding-top: 5vw;
    }
}

@media only screen and (min-width: 2560px) {
    .cbox {
        width: 25%;
        height: 80%;
    }
    .cbox:hover {
        width: 26%;
    }
}

@media only screen and (max-width: 950px) {
    *{
        background-color: rgb(0, 0, 0);
        animation-play-state: paused;
        overflow: hidden;
    }
    body {
        background-color: black;
    }
    .sts {
        margin-top: 0px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.639);
        width: 100%;
        height: 100%;
    }
    .stsflex {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 600;
        font-size: larger;
    }
    .stsflex span {
        color: white;
    }
    .navbar {
        margin-top: -50px;
        padding-bottom: 100px;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        font-size: small;
    }
    .contentTitle {
        font-size: small;
    }
}

@media only screen and (max-width: 336px) {
    *{
        overflow: hidden;
    }
}

@media only screen and (max-width: 1200px) {
    .pagetitle {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1450px) {
    .box {
        height: auto;
    }
    .container {
        height: auto;
    }
}